.card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the form elements */
mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  margin-top: 10px;
}
.calories-card {
  margin-top: 16px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  width: 50%;
  box-sizing: border-box;
}

.calories-content {
  text-align: center; /* Center-align content */
}

.calories-details {
  font-size: 14px;
  color: #888;
  margin-top: 8px;
}

.calories-value {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
}

.calories-subtext {
  font-size: 12px;
  color: #555;
  margin-top: 6px;
}

.custom-table th {
  background-color: #333; /* Background color for headers */
  color: white; /* Text color for headers */
}

.custom-table td {
  background-color: #f3f3f3;
}

.error-text {
  color: red;
}


