<ng-container *ngIf="usersData; else noData">
<div class="leaderboard">
  <h2 class="center-text">Weight Loss Leaderboard</h2>
  <p class="center-text">Top users with the most weight loss:</p>

  <mat-table [dataSource]="usersData">
    <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef> Rank </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.username }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="weightLoss">
      <mat-header-cell *matHeaderCellDef> Weight Loss (Kg) </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.weight_difference }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['rank', 'user', 'weightLoss']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['rank', 'user', 'weightLoss']"></mat-row>
  </mat-table>
</div>
</ng-container>

<ng-template #noData>
  <div class="no-data-message">
    <p class="center-text" style="font-size: 24px;">No leaderboard data</p>
  </div>
</ng-template>
